/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 14rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url(../../static/img/home/bg3.jpg) no-repeat 0 50%;
  background-size: cover;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 7rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
